body{
    background: linear-gradient(hsl(241, 88%, 48%),hsl(231, 65%, 44%) ,hsl(29, 64%, 40%), hsl(34, 71%, 38%));
    height: 100vh;
}

.top_text{
    display: block;
    text-align: center;
    font-family: consolas;
    color:white
}
.inputs{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    font-size: large;
}
.form_class{
    border: 3px solid white;
    width: max-content;
    border-radius: 10px;
    background-color: white;
    margin-left: 43%;
}
#password{
    margin-top: 5px;
    margin-bottom: 5px;
}
#button{
    margin-left: 43%;
}