body{
    height: 100vh;
    background: linear-gradient(to top, black, hsl(256, 57%, 68%), hsl(335, 60%, 66%));
}


#topHeader{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: normal;
}

#Text_captcha{
    font-size: 30px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

._captcha{
    vertical-align: top;
    text-align: center;
}
#After_Captcha {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: white;
}
.questions {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: white;
    border: 3px solid white;
    border-radius: 8px;
    width: max-content;
    background: linear-gradient(to top, rgb(52, 58, 63), hsl(256, 57%, 68%), hsl(335, 60%, 66%));
    margin: auto;
}
.input_questions {
    width: 180px;
    height: 25px;
    background-color: blanchedalmond;
}